include ./../../../layouts/section.pug

+section({ title: 'Сapabilities<br> & Expertise', shape: 'light', className: 'homepage__complex decorative-list', color: 'dark',})
  .decorative-list__wrapper.wrapper
    .decorative-list__text
      .decorative-list__title.title(data-animation='articleTitleLeft') Complex Multi-<br>Spectral and Multi-<br>Dimensional Data
      ul.decorative-list__list.list(data-animation='articleTitleLeft' data-dekay='400')
        each item in ['HD Imagery', '3D Models', 'Orthomosaics', 'IR Thermal Imagery', 'LiDAR Models']
          li.list__item=item

    .decorative-list__image(data-animation='articleTitleRight' data-dekay='600')
      include ./img/img.svg