include ./../../../layouts/section.pug

- 
  const dataFeatures = [
    {
      title: 'Login',
    },
    {
      title: '3D Annotation tool',
    },
    {
      title: '3D Distance Measurement Tools',
    },
    {
      title: '3D Area & Volumetric Measurement Tool',
    },
    {
      title: '3D Model Cropping Tool',
    },
    {
      title: 'InfraVIEU Thermal Viewer',
    },
    {
      title: 'Image Comparison Tool',
    },
    {
      title: 'AR Models On 3D Map',
    },
  ]

+section({ title: 'Key<br>Features', className: 'decorative-list infravieu__features', color: 'dark', shape: 'shape' })
  .decorative-list__wrapper.wrapper
    .decorative-list__text
      ul.decorative-list__list.list#decorative-slider-titles(data-animation='articleTitleLeft')
        each item in dataFeatures
          li.list__item!=item.title

    .decorative-list__image(data-animation='articleTitleRight')
      .decorative-list__slider#decorative-slider
        each i in [1,2,3,4,5,6,7,8]
          .decorative-list__slider__item
            .decorative-list__slider__decorate
              .decorative-list__slider__decorate__item.item_yellow
              .decorative-list__slider__decorate__item.item_red
              .decorative-list__slider__decorate__item.item_green
              .decorative-list__slider__decorate__item.item_text http//infalytiks.com
            img(src=require(`./assets/images/infra/${i}.jpg`), alt="")