include ./../../layouts/section.pug

+section({ title: 'InfraLytiks<br> at a Glance', className: 'grid-section' })
  .grid-section__wrapper(data-animation='fromOpacity')
    .grid-section__item
      .grid-section__item__wrapper
        .grid-section__item__text Machine Learning & AI for complex multi-spectral & multi-dimensional data 
        .grid-section__item__icons.wrapper
          .grid-section__item__icon.icon-camera_icon
          .grid-section__item__icon.icon-d_icon
          .grid-section__item__icon.icon-lidar_icon
          .grid-section__item__icon.icon-map_icon
          a(href="#").grid-section__item__icon.grid-section__item__icon_arrow
            include ./../../assets/images/btn_right.svg

    .grid-section__item(data-animation='fromOpacity' data-delay='500')
      .grid-section__item__wrapper
        .grid-section__item__text We collect process, analyze and visualize data from multiple sources 
        .grid-section__item__icons.wrapper
          .grid-section__item__icon.icon-satellite_icon
          .grid-section__item__icon.icon-plane_icon
          .grid-section__item__icon.icon-drone_icon
          .grid-section__item__icon.icon-car_icon
          a(href="#").grid-section__item__icon.grid-section__item__icon_arrow
            include ./../../assets/images/btn_right.svg

    .grid-section__item(data-animation='fromOpacity' data-delay='1000') 
      .grid-section__item__wrapper
        .grid-section__item__textOur custom developed approaches bring quality and consistency to your analysis 
        .grid-section__item__icons.wrapper
          .grid-section__item__icon.icon-settings_icon
          .grid-section__item__icon.icon-data_icon
          .grid-section__item__icon.icon-medal_icon
          .grid-section__item__icon.icon-data-processing_icon
          a(href="#").grid-section__item__icon.grid-section__item__icon_arrow
            include ./../../assets/images/btn_right.svg
