.relevant__primary 
  .grid-section__item__wrapper
    +hover
      .list__item
        &:before
          background: $green

.relevant__last
  .grid-section__item
    position: relative

  .decorative-shape
    top: unset!important
    bottom: 15%!important
    left: 50%!important
    transform: translateX(-50%)!important

.pricing__pricings
  .grid-section__wrapper
    position: relative

  .decorative-shape
    top: 45%
    transform: translateY(-45%)
    left: 73px
    
.infravieu__insepcting
  position: relative
  overflow-y: unset

  .decorative-shape
    left: 55%
    transform: translateX(-55%)
    bottom: -50px

.grid-section
  background: $white

  .list
    &__item
      &:first-child
        margin-top: 0
      &:before
        margin-top: 8px
  
  &__wrapper
    padding: 58px 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr

  &__item
    padding: 0 20px 0 73px 
    font-size: 18px
    line-height: 26px
    display: flex
    justify-content: center
    flex-direction: column
    align-items: flex-start

    &:nth-child(1n + 4)
      border-top: 1px solid $border-color

    
    &__header-icon
      margin-bottom: 22px
      font-size: 20px
      display: flex

    &__header-title
      margin-left: 25px
      font-size: 24px;
      font-weight: bold
      

    &__wrapper
      flex: 1 0
      flex-direction: column
      justify-content: space-between
      display: flex
      max-width: 280px

    &__icons
      font-size: 22px
      margin-top: 24px
      align-items: center

    &__icon
      &_arrow
        margin-left: 16px
        border-radius: 50%
        height: 40px
        width: 40px
        cursor: pointer
        justify-content: center
        align-items: center
        transition: all .3s
        display: flex
        border: 1px solid rgba(#313B4F, 0.2)
        background-color: #FFFFFF
        fill: #0DC9A8
        polygon
          transition: all .3s
          fill: black

        +hover
          box-shadow: 0 12px 20px -6px rgba(0,0,0,0.14)
          polygon
            fill: #0DC9A8
