include ./../../layouts/section.pug

-   
  const data = [
    {
      icon: 'icon-camera_icon',
      text: 'Defect & Anomaly<br>Detection'
    },
    {
      icon: 'icon-structure_icon',
      text: 'Building & Structure<br>Classification'
    },
    {
      icon: 'icon-ruler_icon',
      text: 'Automated Measurements<br>of Structures'
    },
  ]

+section({title: 'Enable Automated<br>Inspectins', className: 'grid-section infravieu__insepcting', shape: 'dark'})
  .grid-section__wrapper
    - for(let i = 0; i < data.length; i++)
      - const item = data[i]
        .grid-section__item(data-animation='fromOpacity' data-delay=`${400 * i}`)
          .grid-section__item__wrapper
            .grid-section__item__header-icon
              div(class=item.icon)
            .grid-section__item__text!=item.text