.drone__pilot-features
  .decorative-list__wrapper
    padding: 100px 0 180px
  
  .slick-dots
    justify-content: flex-start
    margin-top: 50px

  .decorative-list__image
    display: flex
    position: relative
    padding-left: 74px
    z-index: 12
  
  &__image
    display: flex
    align-items: flex-end
    img
      margin-bottom: -25px
      border-radius: 8px;
      border: 2px solid $border-color
    
    &_phone
      margin-left: 10px
      svg
        width: 200px