.drone__advantages
    
  .decorative-list
    &__wrapper
      padding: 0 0 100px 60px

    &__text
      // display: flex
      // flex-direction: column
      // justify-content: center
      
    &__list
      padding: 0
      max-width: 340px
  
    &__image
      svg
        max-height: 520px


  &-2
    .decorative-list
      &__wrapper
        padding-bottom: 120px