.app-links.wrapper
  a(href="https://itunes.apple.com/us/app/infravieu/id1439911551?mt=8").app-links__item.app-link__item_type_ios
    .app-links__item__icon 
      include ./../../assets/images/socials/ios_icon.svg

    .app-links__item__text 
      .app-links__item__title Avaliable on the 
      .app-links__item__name App store

  a(href="https://play.google.com/store/apps/details?id=app.infravieu&hl=ru").app-links__item
    .app-links__item__icon 
      include ./../../assets/images/socials/google-play.svg
    .app-links__item__text 
      .app-links__item__title GET IT ON 
      .app-links__item__name Google Play

  a(href="https://www.infravieu.com/").app-links__item
    .app-links__item__icon 
      include ./../../assets/images/socials/cursor_icon.svg
    .app-links__item__text 
      .app-links__item__title GET IT ON
      .app-links__item__name Web Version