.decorative-list
  color: $whiteFont 
  overflow: hidden
  
  &__wrapper
    // justify-content: flex-start
    
  &__text
    max-width: percentage(6/12)

  
  &__text
    padding: 70px 0 70px 70px
    position: relative
    max-width: 420px + 50px
  
  &__list
    margin-top: 32px

  &__image
    width: percentage(6/12)

  &_reverse
    .decorative-list
      &__text
        order: 1

      &__wrapper
        justify-content: flex-start

  &_white
    background: $white
    color: $dark
    .aside
      color: $dark