.infravieu__platform
  .aside
    padding-top: 120px
  
  .decorative-list
    &__wrapper
      padding-top: 175px
      padding-bottom: 30px

    &__text
      display: flex
      flex-direction: column
      justify-content: center

    &__image
      svg
        max-width: 599px

.infravieu__overview
  border-top: 1px solid $background-color_light
  .decorative-list
    &__wrapper
      padding-bottom: 30px

    &__image
      svg
        max-width: 594px