.header(data-break='200').sticky
  //- .bg-container
  //-   div.line
  //-   div.line
  //-   div.line

  .header__wrapper.wrapper
    a.header__logo(href='./' data-animation='fadeDown' data-instant='true')
      .header__logo__img
        include ./../../assets/images/logos/logo.svg

    nav.header__nav(data-animation='fadeDown'  data-delay='500' data-instant='true')
      .header__nav__list
      each item in require('./../../pagesData.js').default
        - if (item.list)
          .header__nav__item.header__nav__item_has-child
            .header__nav__item__title=item.text
            .header__nav__item__list
              each i in item.list
                a(href=i.href).header__nav__item__list-item.header__nav__item__title=i.text
            
        - else 
          .header__nav__item
            .header__nav__item__title
              a(href=item.href)=item.text

    .header__button(data-animation='fadeDown' data-delay='1000' data-instant='true')
      a(href="mailto:contact@infralytiks.com").heaeder__button__link.btn.btn_color_grey get in touch

  