-  
  const disclaimer = [
    ['Disclaimer', './disclaimer.html'],
    ['Terms of Use', './terms.html'],
    ['Privacy Policy', './privacy.html'],
  ]

  const links = [
    ['Who We Are', './about.html'],
    ['What We do', './utilize.html'],
    ['Case Studies', './cases.html'],
    ['Testimonials', './testimonials.html'],
    ['Pricing', './pricing.html'],
  ]

.footer
  .container_fullsize
    .wrapper
      .column.links            
        .column__title Quick Links
        .column__list
          each item in links
            .column__list__item
              a(href=item[1])=item[0]
  
      .column
        .column__title Contact Us
        .column__list
          each item in [['InfraLytiks', './'], ['Phone: +1 801-810-2920', 'tel:+1 801-810-2920'] , ['Email: Contact@InfraLytiks.com', 'mailto:Contact@InfraLytiks.com']]
            .column__list__item
              a(href=item[1])=item[0]

      .column
        .column__title Newsletter
        .column__subscription
          .column__subscription__title 
            p If you would like to receive updates, sign up below

          form#footer-form.column__subscription__input.wrapper
            input(type="email" placeholder="Email Address")
            .column__subscription__button
              .btn.btn_color_grey send

      .column_fullwidth.wrapper
        .column__copyright ©InfraDrone, LLC dba InfraLytiks. All rights reserved.

        .column__disclaimer.wrapper
          each item in disclaimer
            .column__disclaimer__item
              a(href=item[1])=item[0] 