.error-page__content.color-white
  .error-page__content__wrapper.wrapper.container
    .column.error-page__content__text 
      .error-page__content__title 
        h1 404 

      .error-page__content__subtitle 
        h3 Someting here went wrong 
      
      .error-page__content__descr 
        p The page you are looking for is not available. You can try to search again or just use the Go Back button below.
      
      .error-page__content__button
        a(href="/").btn.btn_color_grey Go back

    .error-page__content__image
      include 404.svg