.end-section.drone__end-section
  .container
    .end-section__wrapper
      h2(data-animation='rightTitle') Download and use now

      include ./../app-links/drone

  .decorative-shape.decorative-shape_dark
    include ./../../assets/images/shape.svg

  .decorative-shape.decorative-shape_dark
    include ./../../assets/images/shape.svg