.end-section
  .container
    .end-section__wrapper
      h2(data-animation='rightTitle') If you are interested to know more, <br> We would be happy to show you a demo!

      include ./../app-links/index.pug