extends ./layouts/master

block title
  title Infalytiks

block content
  main
    include ./components/banner/about__banner
    include ./components/team/index
    include ./components/grid/homepage__glance