extends ./layouts/master

block title
  title Infalytiks - Who We Are

block content
  main
    include ./components/banner/about__banner
    include ./components/team/index
    include ./components/grid/about__glance