extends ./layouts/master

block title
  title Infalytiks - Case Studies

block content
  main
    include ./components/banner/cases__banner
    include ./components/article-column/cases__column
    include ./components/end-section/cases__end-section