extends ./layouts/master

block title
  title Infalytiks - Disclaimer

block content
  main.privacy
    include ./components/banner/disclaimer__banner
    include ./components/article-column/disclaimer__column