extends ./layouts/master

block title
  title Infalytiks

block content
  main
    include ./components/banner/index
    include ./components/grid/homepage__glance
    include ./components/applications/index
    include ./components/decorative-list/homepage__complex/index
    include ./components/decorative-list/homepage__data-source/index
    include ./components/homepage__slider/index
    include ./components/grid/homepage__utilize