extends ./layouts/master

block title
  title Infalytiks - Infradrone 

//- block header
  div 

block content
  main.infadrone  
    include components/banner/drone__banner
    include components/decorative-list/drone__client-features/index
    include components/decorative-list/drone__pilot-features/index
    include components/decorative-list/drone__advantages/index