extends ./layouts/master

block title
  title Infalytiks - infavieu

block content
  main.infavieu
    include components/infravieu__banner/index
    include components/decorative-list/infravieu__platform/index
    include components/decorative-list/infravieu__features/index
    include components/grid/infravieu__insepcting
    include components/article-column/infravieu__column
    include components/end-section/infravieu__end-section