extends ./layouts/master

block title
  title Infalytiks - InfraVieu
  
block header
  .header.header-white.sticky
    .header__wrapper.wrapper
      a(href="./").header__logo
        .header__logo__img
          include ./assets/images/logos/logo.svg

      nav.header__nav
        .header__nav__list
        each item in require('./pagesData.js').default
          - if (item.list)
            .header__nav__item.header__nav__item_has-child(data-trigger-self='nav-'+item.id)
              .header__nav__item__title(data-trigger-target='nav-'+item.id)=item.text
              .header__nav__item__list
                each i in item.list
                  a(href=i.href).header__nav__item__list-item.header__nav__item__title=i.text
          - else 
            .header__nav__item
              .header__nav__item__title
                a(href=item.href)=item.text

            

      .header__button
        a(href="mailto:contact@infralytiks.com").heaeder__button__link.btn.btn_color_grey get in touch

block content
  main.infavieu
    include components/infravieu__banner/index
    include components/decorative-list/infravieu__platform/index
    include components/decorative-list/infravieu__features/index
    include components/grid/infravieu__insepcting
    include components/article-column/infravieu__column
    include components/end-section/infravieu__end-section