extends ./layouts/master

block title
  title Infalytiks - LiDAR NOW

block header
  .header.header-light.sticky
    .header__wrapper.wrapper
      a(href="./").header__logo
        .header__logo__img
          include ./assets/images/logos/logo.svg

      nav.header__nav
        .header__nav__list
        each item in require('./pagesData.js').default
          - if (item.list)
            .header__nav__item.header__nav__item_has-child(data-trigger-self='nav-'+item.id)
              .header__nav__item__title(data-trigger-target='nav-'+item.id)=item.text
              .header__nav__item__list
                each i in item.list
                  a(href=i.href).header__nav__item__list-item.header__nav__item__title=i.text
          - else 
            .header__nav__item
              .header__nav__item__title
                a(href=item.href)=item.text
                
      .header__button
        a(href="mailto:contact@infralytiks.com").heaeder__button__link.btn.btn_color_grey get in touch

block content
  main.lidar
    include components/banner/lidar__banner
    include components/decorative-list/lidar__drone/index
    include components/decorative-list/lidar__slider/index
    include components/lidar__now/index
    include components/grid/lidar__features
    +section({ title: '', className: 'section_light lidar__viewer lidar__banner' })
      #lidar-viewer
        .lidar-preloader
          <?xml version="1.0" encoding="UTF-8" standalone="no"?><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="transparent" /><g><path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z" fill="#313C4F" fill-opacity="0.7"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1800ms" repeatCount="indefinite"></animateTransform></g></svg>