extends ./layouts/master

block title
  title Infalytiks - Relevant Applications

block content
  main.relevant
    include components/banner/relevant__banner
    include components/grid/relevant__primary
    include components/article-column/relevant__wind
    include components/grid/relevant__infrastructure 
    include components/article-column/relevant__construction
    include components/grid/relevant__last