extends ./layouts/master

block title
  title Infalytiks - Terms Of Use

block content
  main.privacy
    include ./components/banner/terms__banner
    include ./components/article-column/terms__column