extends ./layouts/master

block title
  title Infalytiks - Testimonials 

block content
  main.testimonials
    include ./components/banner/testimonials__banner
    include ./components/article-column/testimonials__column