extends ./layouts/master

block title
  title Infalytiks - utilize

block content
  main
    include ./components/banner/utilize__banner
    include ./components/grid/homepage__utilize
    include ./components/decorative-list/utilize__industry/index
    include ./components/processing/index
    