body 
  font-family: $montserrat
  padding: 0
  margin: 0
  color: $blackFont
  color: $dark
  background: $white
  overflow-x: hidden
  font-size: 18px
  position: relative
  font-weight: 500

h1,h2,h3,h4,h5, ul, li 
  margin: 0
  padding: 0

body, *:before, *:after, *
  box-sizing: border-box
  
a
  text-decoration: none
  color: $linkColor

p
  font-size: 16px
  line-height: 26px
  font-weight: 400
  margin-top: 0

h1 
  font-weight: bold 
  font-size: 48px

h2
  font-weight: bold
  font-size: 36px

h3
  font-weight: bold
  font-size: 24px

h4
  font-weight: bold
  font-weight: 20px

h5 
  font-weight: medium
  font-size: 18px

h6
  font-weight: semibold
  font-size: 14px

h7
  font-weight: bold
  font-size: 13px

p
  font-size: 16px
  font-weight: 400

.slick-dots
  font-size: 0
  list-style: unset
  display: flex
  justify-content: center
  margin-left: -17px
  align-items: center
  margin-top: 20px
  
  li
    margin-left: 17px
    width: 5px
    height: 5px
    overflow: hidden
    border-radius: 50%
    button
      cursor: pointer
      transition: all .3s
      background-color: #535C70
      border: unset
      outline: unset
      width: 100%
      height: 100%
      font-size: 0
      
    &.slick-active
      width: 10px
      height: 10px
      button
        background-color: #0DC9A8

.loader
  position: fixed
  left: 0
  top: 0
  bottom: 0
  padding-left: 145px
  right: 0
  z-index: 50
  background: $grey
  transition: all 1s
  width: 100%
  height: 100%
  opacity: 1
  display: flex
  flex-direction: column 
  justify-content: center
  align-items: center
  
  .bg-container
    position: relative
    left: unset
    bottom: unset
    right: unset
    top: unset
    flex:  1 0

  &.loaded
    opacity: 0
    pointer-events: none