//- Master layout

doctype html
html(lang='en')
  head
    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='msapplication-TileColor', content='#0E0E0E')
    meta(name='theme-color', content='#0E0E0E')

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Favicons
    //- link(rel='apple-touch-icon', sizes='180x180', href=require('images/favicons/apple-touch-icon.png'))
    //- link(rel='icon', type='image/png', sizes='32x32', href=require('images/favicons/favicon-32x32.png'))
    //- link(rel='icon', type='image/png', sizes='16x16', href=require('images/favicons/favicon-16x16.png'))
    //- link(rel='shortcut icon', href=require('images/favicons/favicon.ico'))

    block title
      title Infalytiks

    //- block manifestBrowserconfigFiles
    //-   link(rel='manifest', href='./manifest.json')
    //-   meta(name='msapplication-config' content='./browserconfig.xml')

  body.vertical-lines
    block header
      include ./../components/header/index.pug
  
    //- //- block content
    block content


    block footer 
      include ./../components/footer/index.pug