include ./../../layouts/section.pug

- 
  const animation = '<div id="home-banner"> </div>'

+section({ className: 'about__banner banner', bg: animation })
  .banner__wrapper
    .banner__title(data-animation='fadeDown') Who We Are
    .banner__descr(data-animation='fromOpacity') Learn About Our Team!