include ./../../layouts/section.pug

- const animation = '<canvas> </canvas>'

+section({ className: 'about__banner banner', bg: animation })
  .banner__wrapper
    .banner__title Who We Are
    .banner__descr Learn About Our Team!