include ./../../layouts/section.pug

- 
  const animation = '<div id="cases-banner"> </div>'

+section({ className: 'cases__banner banner', bg: animation })
  .banner__wrapper
    .banner__title Machine Learning <br> Case Studies
    .banner__descr We collect, analyze and <br> visualize your data!