include ./../../layouts/section.pug

- 
  const animation = '<div id="home-banner"> </div>'
  
+section({ nolines: true, className: 'pricing__banner banner', bg: animation })
  .banner__wrapper
    .banner__title(data-animation='fadeDown') Disclaimer
    .banner__descr(data-animation='fadeDownMini') Website Privacy Policy, Disclaimer, TOS