include ./../../layouts/section.pug

- 
  const animation = '<div id="home-banner"> </div>'

//- +section({ className: ' drone__banner banner', bg: animation, color: 'grey', container: 'left', bgcontainer: true })
+section({ nolines: true, className: ' drone__banner banner', bg: animation, color: 'grey' })
  .banner__wrapper.banner__wrapper_row
    .banner__col
      .banner__logo(data-animation='fadeDown')
        include ./../applications/img/logo_drone.svg
      .banner__title(data-animation='leftTitle' data-delay='200')
        h1 Our App for <br> Drone Pilots & Clients
      .banner__descr(data-animation='fromOpacity' data-delay='400')
        .banner__descr__list
          each item in ['Cross-Platform Application', 'Google Play Store – Apple Store – Web', 'Professional Drone Pilot Network', 'Basic – PRO – Enterprise Versions Available', 'Interface with <span href="#" class="bold-line"> InfraVIEU </span>']
            span
              a(href='#').arrow-link.banner__descr__item!=item

      .banner__button(data-animation='fromOpacity' data-delay='700')
        include ./../app-links/drone

    .banner__col.banner__col_img
      .banner__image(data-animation='rightTitle' data-delay='400')
        .banner__image__item 
          include ./../../assets/images/mokups/phone2.svg
          
        .banner__image__item
          include ./../../assets/images/mokups/android2.svg