.pricing__banner
  background: $grey

.banner
  &__wrapper
    min-height: 600px
    flex-direction: column
    justify-content: center
    display: flex
    // opacity: 0

  &__title
    font-size: 48px
    font-weight: bold

  &__descr
    margin-top: 16px
    line-height: 26px;
    font-weight: 400px
    &_bolder
      font-size: 28px
      line-height: 36px;
      font-weight: 700

  &__button
    margin-top: 16px
    display: flex

  &_centered
    .banner
      &__wrapper
        text-align: center
        align-items: center