include ./../../layouts/section.pug

- 
  const animation = '<div id="home-banner"> <div class="banner-tip"> </div> </div>'

+section({ className: 'homepage__banner banner', bg: animation })
  .banner__wrapper
    .banner__title(data-animation='fadeDown') Complex <span class='grey-text'>Data</span><br> Analytics and <br> Automation Company
    .banner__descr(data-animation='fromOpacity') We collect, analyze and<br> visualize your data!
    .banner__button(data-animation='fromOpacity' data-delay='300')
      a(href="/about.html").btn.btn_color_white learn more