include ./../../layouts/section.pug

+section({ title: '', className: 'section_dark lidar__banner' })
  .lidar__banner__wrapper.wrapper
    .lidar__banner__title 
      h1 LiDAR NOW

    .lidar__banner__subtitle
      p Universal Mobile LiDAR Data Processing Algorithm