.lidar
  background: $dark

.lidar__banner
  text-align: center
  color: $white 
  
  &__wrapper
    padding-top: 150px
    // margin-left: 145px
    padding-right: 145px
    justify-content: center
    flex-direction: column
    position: relative

  &__title
    margin-top: 20px

  &__subtitle
    p
      font-size: 18px
      line-height: 26px
    margin-bottom: 75px