include ./../../layouts/section.pug

- 
  const animation = '<canvas> </canvas>'

+section({ className: 'pricing__banner banner banner_centered', bg: animation })
  .banner__wrapper
    .banner__title 
      span.grey-text Pricing
    .banner__descr.banner__descr_bolder We excel in being very efficient <br> and therefore affordable.
