include ./../../layouts/section.pug

- 
  const animation = '<div id="home-banner"> </div>'
  
+section({ nolines: true, className: 'pricing__banner banner noaside banner_centered', bg: animation })
  .banner__wrapper
    .banner__title(data-animation='fadeDown')
      span.grey-text Pricing
    .banner__descr.banner__descr_bolder(data-animation='fadeDownMini') We excel in being very efficient <br> and therefore affordable.
