include ./../../layouts/section.pug

- const animation = '<canvas> </canvas>'

+section({ className: 'utilize__banner banner', bg: animation })
  .banner__wrapper
    .banner__title When to Utilize <br> InfraLytiks
    .banner__descr Learn about our Industry Expertise!